@use '~/styles/mixins' as *;


.hero-section {
  padding-top: 48px;
  background-color: var(--dark-blue);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  $curvy-bottom: 222px;
  $curvy-bottom-tablet: 100px;
  $curvy-bottom-laptop: 158px;

  @include media(laptop) {
    padding-top: 75px;
    padding-bottom: $curvy-bottom-laptop;
  }

  >* {
    position: relative;
    z-index: 1;
  }

  &::before {
    content: '';
    display: block;
    position: absolute;
    z-index: 0;
    background-image: url(/images/bg-curvy-mobile.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    padding-bottom: 37.6%;
    bottom: $curvy-bottom;

    @include media(tablet) {
      bottom: $curvy-bottom-tablet;
    }

    @include media(laptop) {
      background-image: url(/images/bg-curvy-desktop.svg);
      bottom: 0;
      padding-bottom: 31.1805556%;
    }
  }

  &::after {
    content: '';
    display: block;
    position: absolute;
    z-index: 0;
    bottom: 0;
    width: 100%;
    height: $curvy-bottom;
    background-color: var(--dark-blue-main-background);

    @include media(tablet) {
      height: $curvy-bottom-tablet;
    }

    @include media(laptop) {
      display: none;
    }
  }
}

.image-container {
  width: min(720px, 81.06667%);
}

.headline {
  margin-top: 33px;
  width: min(734px, 85.33333%);
  font-family: var(--raleway);
  font-weight: 700;
  font-size: rem(24);
  line-height: 150%;
  text-align: center;
  color: var(--white);

  @include media(tablet) {
    font-size: rem(32);
  }

  @include media(laptop) {
    margin-top: 36px;
    font-size: rem(40);
  }
}

.subheadline {
  margin-top: 15px;
  width: min(589px, 78.93333%);
  font-family: var(--open-sans);
  font-weight: 400;
  font-size: rem(14);
  line-height: 150%;
  text-align: center;
  color: var(--white);

  @include media(tablet) {
    font-size: rem(16);
  }

  @include media(laptop) {
    margin-top: 32px;
    font-size: rem(20);
  }
}

.call-to-action {
  margin-top: 32px;
  padding: 16px 81px;
  background: linear-gradient(134.79deg, #63E1D9 -42.11%, #34A0CD 100%);
  box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.15925);
  border-radius: 999px;


  font-family: var(--raleway);
  font-weight: 700;
  font-size: rem(14);
  line-height: 114.28571%;
  color: var(--white);

  &:hover {
    background: #8ADAE3;
  }

  @include media(laptop) {
    padding: 18.5px 95.5px;
    font-size: rem(16);
    line-height: 118.75%;
  }
}