@use '~/styles/mixins' as *;

.features-section {
  margin-top: 120px;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  row-gap: 80px;

  @include media(laptop){
    margin-top: 0;
    width: 880px;
    margin-inline: auto;
    grid-template-columns: 1fr 1fr;    
    justify-content: space-between;
    row-gap: 78px;
  }
}